/* START Telerik.Sitefinity.Resources.Themes.LayoutsBasics.css */
.sf_cols{width:100%;margin:0;padding:0}
.sf_cols:before,.sf_cols:after{content:"";display:table}
.sf_cols:after{clear:both}
.sf_cols{zoom:1}
.sf_colsOut+.sf_colsOut{*margin-left:-1px!important}
.sf_block{display:block}
.sf_1col_1_100{float:none;margin:0}
.sf_2cols_1_25{float:left;width:25%;margin:0}
.sf_2cols_2_75{float:right;width:75%;margin:0}
.sf_2cols_2_75 .sf_2cols_2in_75{margin-left:12px}
.sf_2cols_1_33{float:left;width:33%;margin:0}
.sf_2cols_2_67{float:right;width:67%;margin:0}
.sf_2cols_2_67 .sf_2cols_2in_67{margin-left:12px}
.sf_2cols_1_50{float:left;width:50%;margin:0}
.sf_2cols_2_50{float:right;width:50%;margin:0}
.sf_2cols_2_50 .sf_2cols_2in_50{margin-left:12px}
.sf_2cols_1_67{float:left;width:67%;margin:0}
.sf_2cols_2_33{float:right;width:33%;margin:0}
.sf_2cols_2_33 .sf_2cols_2in_33{margin-left:12px}
.sf_2cols_1_75{float:left;width:75%;margin:0}
.sf_2cols_2_25{float:right;width:25%;margin:0}
.sf_2cols_2_25 .sf_2cols_2in_25{margin-left:12px}
.sf_3cols_1_33{float:left;width:33%;margin:0}
.sf_3cols_2_34{float:left;width:34%;margin:0}
.sf_3cols_3_33{float:left;width:33%;margin:0;_margin-left:-1px!important}
.sf_3cols_2_34 .sf_3cols_2in_34,.sf_3cols_3_33 .sf_3cols_3in_33{margin-left:12px}
.sf_3cols_1_25{float:left;width:25%;margin:0}
.sf_3cols_2_50{float:left;width:50%;margin:0}
.sf_3cols_3_25{float:left;width:25%;margin:0;_margin-left:-1px!important}
.sf_3cols_2_50 .sf_3cols_2in_50,.sf_3cols_3_25 .sf_3cols_3in_25{margin-left:12px}
.sf_4cols_1_25,.sf_4cols_2_25,.sf_4cols_3_25,.sf_4cols_4_25{float:left;width:25%;margin:0}
.sf_4cols_4_25{_margin-left:-1px!important}
.sf_4cols_2_25 .sf_4cols_2in_25,.sf_4cols_3_25 .sf_4cols_3in_25,.sf_4cols_4_25 .sf_4cols_4in_25{margin-left:12px}
.sf_5cols_1_20,.sf_5cols_2_20,.sf_5cols_3_20,.sf_5cols_4_20,.sf_5cols_5_20{float:left;width:20%;margin:0}
.sf_5cols_5_20{_margin-left:-1px!important}
.sf_5cols_2_20 .sf_5cols_2in_20,.sf_5cols_3_20 .sf_5cols_3in_20,.sf_5cols_4_20 .sf_5cols_4in_20,.sf_5cols_5_20 .sf_5cols_5in_20{margin-left:12px}
/* END Telerik.Sitefinity.Resources.Themes.LayoutsBasics.css */
/* START Telerik.Web.UI.Skins.ListView.css */
.RadListView .rlvEmpty,.RadListView .rlvIEmpty{font-style:italic}.RadListView .rlvBAdd,.RadListView .rlvBUpdate,.RadListView .rlvBCancel,.RadListView .rlvBSel,.RadListView .rlvBDel,.RadListView .rlvBEdit,.RadListView .rlvDrag{width:16px;height:16px;border:0;margin:0;padding:0;background-color:transparent;background-repeat:no-repeat;vertical-align:middle;font-size:1px;cursor:pointer}.RadListView .rlvBAdd,.RadListView .rlvBUpdate,.RadListView .rlvBCancel{width:18px;height:18px}.RadListView .rlvDrag{cursor:url('WebResourcee98a.axd?d=v3is0V2U-9kDX7YAW1T0cz2-BMAX1m8zcK5OZCBD5bWgu0bzWNB5Hpyh4EkxZN4LSg-xxTrZEk_mL3uAyBBi2b2NpO8fvG0sLjeyQ0sdxTdjutTQxocOQ3nJ31K2xL2F0M-wP1Xbq8ivWpcsNnH4Iw2&amp;t=636338348560000000'),move}.RadListView li.rlvI,.RadListView li.rlvA,.RadListView li.rlvISel,.RadListView li.rlvIEmpty{padding-top:5px;padding-bottom:4px}.RadListView div.rlvI,.RadListView div.rlvA,.RadListView div.rlvISel,.RadListView div.rlvIEmpty,.RadListView div.rlvIEdit{border-bottom:1px solid;padding-top:5px;padding-bottom:4px}.RadListView tr.rlvHeader th,.RadListView tr.rlvI>td,.RadListView tr.rlvA>td,.RadListView tr.rlvISel>td,.RadListView tr.rlvIEmpty>td,.RadListView tr.rlvIEdit>td{padding:4px 7px 3px}.RadListView tr.rlvHeader th{padding-top:5px;padding-bottom:4px;text-align:left;font-weight:normal}.RadListView tr.rlvIEdit td td{border:0;padding:0}.RadListView td.rlvI,.RadListView td.rlvA,.RadListView td.rlvISel,.RadListView td.rlvIEmpty,.RadListView td.rlvIEdit{padding:5px 7px 4px}.RadListView .rlvI>td:first-child,.RadListView .rlvA>td:first-child{border-left-width:0}div.RadListViewFloated{border-width:0}.RadListView .rlvFloated{display:inline-block}.RadListView .rlvFloated .rlvI,.RadListView .rlvFloated .rlvA,.RadListView .rlvFloated .rlvISel,.RadListView .rlvFloated .rlvIEmpty,.RadListView .rlvFloated .rlvIEdit{float:left;display:inline;border:1px solid}.RadListView .rlvAutoScroll .rlvI,.RadListView .rlvAutoScroll .rlvA,.RadListView .rlvAutoScroll .rlvISel,.RadListView .rlvAutoScroll .rlvIEmpty,.RadListView .rlvAutoScroll .rlvIEdit{overflow:auto}.RadListView .rlvNoScroll .rlvI,.RadListView .rlvNoScroll .rlvA,.RadListView .rlvNoScroll .rlvISel,.RadListView .rlvNoScroll .rlvIEmpty,.RadListView .rlvNoScroll .rlvIEdit{overflow:hidden}.RadListView .rlvFloated{display:block}.RadListView .rlvFloated:after{content:"";display:block;visibility:hidden;clear:both}.RadListView .rlvInput{vertical-align:middle;border-width:1px;border-style:solid;padding:2px 1px 3px;font:12px "segoe ui",arial,sans-serif}
/* END Telerik.Web.UI.Skins.ListView.css */
